<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/">My Chat</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav">

            <li class="nav-item">

                <a class="nav-link" (click)="goToSignUp()">SignUp</a>

            </li>

        </ul>

    </div>

</nav>

<div class="row p-0 m-0">

    <div class="col-sm"></div>

    <div class="col-sm p-5">

        <h2 class="form-signin-heading">Please enter Email</h2>

        <br>

        <label for="inputEmail" class="sr-only">Email address</label>

        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required autofocus>

        <br>

        <button class="btn btn-lg btn-primary btn-block" (click)="forgotPasswordFunction()" type="button">Send Mail</button>

        <br>


    </div>

    <div class="col-sm"></div>

</div>