
<div class="row p-0 m-0">

    <div class="col-sm"></div>

    <div class="col-sm p-5">

        <h2 class="form-signin-heading"> Sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>

        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required autofocus>

        <br>

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>

        <br>

        <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signinFunction()">Sign in</button>

        <br>

        <a class="pointer" (click)="goToSignUp()">Don't have an account? Please Sign-Up</a> <br>
        <a class="pointer" (click)="forgotPassword()">Forget Password ?</a>

    </div>

    <div class="col-sm"></div>

</div>